SPP-NiFi/CalculateSecurityReturns.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "7292e460-f819-37c1-bfa9-01d7764758f2" : {
          "identifier" : "7292e460-f819-37c1-bfa9-01d7764758f2",
          "name" : "Spp-Postgres-HikariCP"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 20000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "47e7e176-c0c8-33d4-8754-4e6042d703d1",
            "instanceIdentifier" : "0189108e-69d3-1127-0b00-3548319ea022",
            "name" : "FinishSecurityPricesDateLookup",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "b9025343-c37d-3870-80c7-4c4cb2acefbd",
          "instanceIdentifier" : "01891098-69d3-1127-c54d-7b2ad7e656fd",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "afe97b88-6d6d-32b2-8cb4-d511befabac2",
            "instanceIdentifier" : "0189108c-69d3-1127-d04f-226f0dee2f48",
            "name" : "SecurityPricesDateLookupRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "4aee468b-fdb0-3b4f-a23b-a7ccc3a17d86",
            "instanceIdentifier" : "018d1000-4818-1b5a-32cd-09710a77b92a",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "624b049f-e048-323d-aca4-0240364159dd",
          "instanceIdentifier" : "018a1003-6ab4-1fc6-02f3-d009ccc05c18",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "b412ae29-daa1-32ac-b7cc-f885974bad8e",
            "instanceIdentifier" : "018a1000-6ab4-1fc6-a03d-19a419ff978b",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "0117dc9d-9d62-3fa6-8362-4bebef9eb515",
            "instanceIdentifier" : "b8e55bd5-018c-1000-fd26-7b750582ff3a",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "486044e5-4811-3e57-bc81-e7b67c3e991a",
          "instanceIdentifier" : "b8e5faa0-018c-1000-b972-8087c8dcf763",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "9a4407c0-1706-3150-b200-2e52e34ca304",
            "instanceIdentifier" : "b8b55c04-018c-1000-ffc5-596b5bab22a9",
            "name" : "SecurityPricesDateLookupQuery",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 20000,
          "bends" : [ {
            "x" : -472.0,
            "y" : 1264.0
          }, {
            "x" : -461.5052605412433,
            "y" : -580.0168539038027
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "c711c04f-2d88-3a22-b299-9ff57a6f62f6",
            "instanceIdentifier" : "01891086-69d3-1127-07e0-10da246a9a38",
            "name" : "NextDate",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "4b87bd2e-9397-31e1-84e9-3d11455e3aca",
          "instanceIdentifier" : "01891094-69d3-1127-2f2b-39d5aad90485",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "pricesMissing",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "error" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "4e05e8c6-8387-304b-8292-1eb032f0d17f",
            "instanceIdentifier" : "01891083-69d3-1127-cbbe-3024050aa544",
            "name" : "RouteOnContent",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "afe97b88-6d6d-32b2-8cb4-d511befabac2",
            "instanceIdentifier" : "0189108c-69d3-1127-d04f-226f0dee2f48",
            "name" : "SecurityPricesDateLookupRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "655993ff-cf97-38ab-8398-6298e58f85a7",
          "instanceIdentifier" : "b8d57759-018c-1000-4bfb-d7f92e35a999",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "0bb31159-7f52-31bc-b5b4-ac622863ac24",
            "instanceIdentifier" : "b8b52ad6-018c-1000-66ac-8607beaba880",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 20000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "8e7cc335-be84-30b0-94bb-260f2f2e546d",
            "instanceIdentifier" : "01891088-69d3-1127-c014-98c379136080",
            "name" : "EndLoopCondition",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "8f624d1f-646f-3c97-afb1-941f02040304",
          "instanceIdentifier" : "01891099-69d3-1127-7135-04a4e82ee637",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "c711c04f-2d88-3a22-b299-9ff57a6f62f6",
            "instanceIdentifier" : "01891086-69d3-1127-07e0-10da246a9a38",
            "name" : "NextDate",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 20000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "74842d44-063b-38b3-b661-23c9c00b259d",
            "instanceIdentifier" : "01891089-69d3-1127-0609-97150395455f",
            "name" : "StartSecurityPricesLookup",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "9cc2ad9c-7d5c-3fee-bd8a-b669b2b54af4",
          "instanceIdentifier" : "0189109f-69d3-1127-2b91-ef10aa32738f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "2d16b2b1-9bd6-342e-97a0-38529cdb93d0",
            "instanceIdentifier" : "01891082-69d3-1127-6d22-d32b78443425",
            "name" : "StartSecurityReturnsCalculationForDate",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "c711c04f-2d88-3a22-b299-9ff57a6f62f6",
            "instanceIdentifier" : "01891086-69d3-1127-07e0-10da246a9a38",
            "name" : "NextDate",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "9644d233-197c-312b-b447-916ed0b9c97b",
          "instanceIdentifier" : "018a1006-6ab4-1fc6-001c-60b7b11505b6",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "80ea2a6e-75a7-3486-98c1-7d4b399563f2",
            "instanceIdentifier" : "b55b5409-018c-1000-9c87-4849f326c39c",
            "name" : "LoadLastRecordForSecurityReturns",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 20000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "b05ef79b-4bed-3de7-98b5-4ebb2d547651",
            "instanceIdentifier" : "01891081-69d3-1127-4b0d-1e2aebcae35c",
            "name" : "VerifyPrices",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "0ac27470-36bf-3bab-a5b9-0eb19df9422d",
          "instanceIdentifier" : "0189109e-69d3-1127-7627-155538780201",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "joined" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "47e7e176-c0c8-33d4-8754-4e6042d703d1",
            "instanceIdentifier" : "0189108e-69d3-1127-0b00-3548319ea022",
            "name" : "FinishSecurityPricesDateLookup",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "276529e9-6db1-373d-8c86-51687d20d058",
            "instanceIdentifier" : "b9053bd2-018c-1000-b804-2733f487f266",
            "name" : "SaveReturnsToDb",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "8364d402-6be3-3848-a9f2-2b86e828a5d9",
          "instanceIdentifier" : "b9095eb1-018c-1000-b94d-50d96b03b9cb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "c3a32e35-e32e-3c28-90bb-fe31e50d3ee6",
            "instanceIdentifier" : "0189108a-69d3-1127-5f5a-cdff7f88160a",
            "name" : "CalculateReturns",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1264.0,
            "y" : 1464.0
          }, {
            "x" : 1256.0,
            "y" : -576.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "c711c04f-2d88-3a22-b299-9ff57a6f62f6",
            "instanceIdentifier" : "01891086-69d3-1127-07e0-10da246a9a38",
            "name" : "NextDate",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "1aab90a7-c8f0-30cf-bf04-787ff5e87282",
          "instanceIdentifier" : "b90d7a2e-018c-1000-6319-0caebf4524e3",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "toNextDate",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "276529e9-6db1-373d-8c86-51687d20d058",
            "instanceIdentifier" : "b9053bd2-018c-1000-b804-2733f487f266",
            "name" : "SaveReturnsToDb",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "48c63f4f-3bbc-3ce4-9a5b-20d4c98793bc",
            "instanceIdentifier" : "018d1000-07ba-1b5b-b849-019792c3f871",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "dcc6c0ab-931f-3cbf-b4f2-79cbf9af9d3b",
          "instanceIdentifier" : "018a1001-6ab4-1fc6-89a8-a63765368d8a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "4aee468b-fdb0-3b4f-a23b-a7ccc3a17d86",
            "instanceIdentifier" : "018d1000-4818-1b5a-32cd-09710a77b92a",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 20000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "2d16b2b1-9bd6-342e-97a0-38529cdb93d0",
            "instanceIdentifier" : "01891082-69d3-1127-6d22-d32b78443425",
            "name" : "StartSecurityReturnsCalculationForDate",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "bca6d7f7-597c-3ab1-98b4-d0231981ad2e",
          "instanceIdentifier" : "01891091-69d3-1127-12a5-4ef20750cdc0",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "nextDate",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "8e7cc335-be84-30b0-94bb-260f2f2e546d",
            "instanceIdentifier" : "01891088-69d3-1127-c014-98c379136080",
            "name" : "EndLoopCondition",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "80ea2a6e-75a7-3486-98c1-7d4b399563f2",
            "instanceIdentifier" : "b55b5409-018c-1000-9c87-4849f326c39c",
            "name" : "LoadLastRecordForSecurityReturns",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "3628dd00-2716-3d96-ae04-313adbe89d4d",
          "instanceIdentifier" : "018a1005-6ab4-1fc6-0a95-f087a894e32a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "48c63f4f-3bbc-3ce4-9a5b-20d4c98793bc",
            "instanceIdentifier" : "018d1000-07ba-1b5b-b849-019792c3f871",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "9a4407c0-1706-3150-b200-2e52e34ca304",
            "instanceIdentifier" : "b8b55c04-018c-1000-ffc5-596b5bab22a9",
            "name" : "SecurityPricesDateLookupQuery",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "570a5aea-fdeb-34ee-844d-1b5918d6f33e",
          "instanceIdentifier" : "b9529653-018c-1000-af1e-8df14fa7b61f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "enrichment" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "74842d44-063b-38b3-b661-23c9c00b259d",
            "instanceIdentifier" : "01891089-69d3-1127-0609-97150395455f",
            "name" : "StartSecurityPricesLookup",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 20000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "47e7e176-c0c8-33d4-8754-4e6042d703d1",
            "instanceIdentifier" : "0189108e-69d3-1127-0b00-3548319ea022",
            "name" : "FinishSecurityPricesDateLookup",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "5692f9ab-47b6-3d9e-8c6b-a2961ae5575b",
          "instanceIdentifier" : "01891097-69d3-1127-73f5-591c2cdaede6",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "original" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "74842d44-063b-38b3-b661-23c9c00b259d",
            "instanceIdentifier" : "01891089-69d3-1127-0609-97150395455f",
            "name" : "StartSecurityPricesLookup",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 20000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "c3a32e35-e32e-3c28-90bb-fe31e50d3ee6",
            "instanceIdentifier" : "0189108a-69d3-1127-5f5a-cdff7f88160a",
            "name" : "CalculateReturns",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "a194e382-17f7-3e33-9a7e-2a12987e35d5",
          "instanceIdentifier" : "0189109b-69d3-1127-e9c5-1d6ec1ff82ae",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "levelsFound",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "4e05e8c6-8387-304b-8292-1eb032f0d17f",
            "instanceIdentifier" : "01891083-69d3-1127-cbbe-3024050aa544",
            "name" : "RouteOnContent",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "0bb31159-7f52-31bc-b5b4-ac622863ac24",
            "instanceIdentifier" : "b8b52ad6-018c-1000-66ac-8607beaba880",
            "name" : "ExecuteSQLRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "7efc15c8-3b41-398f-a449-d7599a45e6c1",
          "instanceIdentifier" : "b8e628bf-018c-1000-81ed-391e9a365acc",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "0117dc9d-9d62-3fa6-8362-4bebef9eb515",
            "instanceIdentifier" : "b8e55bd5-018c-1000-fd26-7b750582ff3a",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 20000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "4e05e8c6-8387-304b-8292-1eb032f0d17f",
            "instanceIdentifier" : "01891083-69d3-1127-cbbe-3024050aa544",
            "name" : "RouteOnContent",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "c135a051-7331-375c-9c2d-789bef5313f3",
          "instanceIdentifier" : "01891093-69d3-1127-20b5-ba9f16e5c543",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
            "id" : "b05ef79b-4bed-3de7-98b5-4ebb2d547651",
            "instanceIdentifier" : "01891081-69d3-1127-4b0d-1e2aebcae35c",
            "name" : "VerifyPrices",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "9be2e2af-23af-3fb7-be69-adda157db381",
          "instanceIdentifier" : "b563d834-018c-1000-82c5-c5abfefdd0f9",
          "name" : "SecurityReturnsDateLookupRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Date Format" : "yyyy-MM-dd",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-oneline",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "e4efdf3d-3ce9-3711-9d37-7e546e7c9484",
          "instanceIdentifier" : "018a101b-6ab4-1fc6-311e-5aaa0909461e",
          "name" : "SecurityReturnsJsonTreeReader",
          "properties" : {
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "df843661-132e-3c89-ac63-317aae0d22b3",
          "instanceIdentifier" : "0189107f-69d3-1127-9cd7-a1d5c4b63d08",
          "name" : "SecurityPricesOriginalRecordWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-oneline",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "64d9736e-9d74-3080-9ed6-f4c1acf45b2c",
          "instanceIdentifier" : "0189107c-69d3-1127-a68f-63bcefa45014",
          "name" : "SecurityPricesEnrichedRecordWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-oneline",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "a0045fa9-9b36-311a-8504-528ac41be403",
          "instanceIdentifier" : "0189107b-69d3-1127-f424-705dea729736",
          "name" : "SecurityPricesEnrichedRecordReader",
          "properties" : {
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "3f196939-13b0-3e0c-95b7-575ee4f597ad",
          "instanceIdentifier" : "0189107e-69d3-1127-0289-2b6e5a4278ca",
          "name" : "OrganizationsOriginalRecordReader",
          "properties" : {
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "c4842d42-1bd4-3764-ad3a-9d17a69efdf5",
          "instanceIdentifier" : "b8d24f65-018c-1000-a0cd-e7b90b5d8a0f",
          "name" : "SecurityPricesLookupRecordWriter",
          "properties" : {
            "compression-level" : "1",
            "Timestamp Format" : "yyyy-MM-dd'T'hh:mm:ss",
            "Date Format" : "yyyy-MM-dd",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "Time Format" : "hh:mm:ss",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "04cb5512-d73b-308e-bd74-8c3deb934671",
          "instanceIdentifier" : "0189107d-69d3-1127-fd2d-b9038c2c4d28",
          "name" : "OrganizationsRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-oneline",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.22.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "52ff3cae-332d-3ab5-aa5f-fcaff28758b5",
          "instanceIdentifier" : "0189107a-69d3-1127-6252-33635a5a8fda",
          "name" : "SecurityPricesOriginalRecordReader",
          "properties" : {
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
        "inputPorts" : [ ],
        "instanceIdentifier" : "01891079-69d3-1127-0ce6-060901e12246",
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "height" : 32.0,
          "identifier" : "4a29a2d2-aacc-3538-969e-8cadf05d90c0",
          "instanceIdentifier" : "01891080-69d3-1127-98d3-55baf8c474a2",
          "label" : "EndLoopCondition set to terminate and exit the loop on loopEnd connection/condition",
          "position" : {
            "x" : 216.0,
            "y" : -392.0
          },
          "style" : {
            "font-size" : "12px"
          },
          "width" : 472.0,
          "zIndex" : 0
        } ],
        "name" : "CalculateSecurityReturns",
        "outputPorts" : [ ],
        "parameterContextName" : "SPP",
        "position" : {
          "x" : 336.0,
          "y" : -80.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "0117dc9d-9d62-3fa6-8362-4bebef9eb515",
          "instanceIdentifier" : "b8e55bd5-018c-1000-fd26-7b750582ff3a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 656.0,
            "y" : 288.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "securityPricesLookupQuery" : "$.securityPricesLookupQuery",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "securityPricesLookupQuery" : {
              "displayName" : "securityPricesLookupQuery",
              "identifiesControllerService" : false,
              "name" : "securityPricesLookupQuery",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "74842d44-063b-38b3-b661-23c9c00b259d",
          "instanceIdentifier" : "01891089-69d3-1127-0609-97150395455f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "StartSecurityPricesLookup",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -133.50526054124327,
            "y" : 43.98314609619729
          },
          "properties" : { },
          "propertyDescriptors" : { },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ForkEnrichment",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure", "timeout" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "47e7e176-c0c8-33d4-8754-4e6042d703d1",
          "instanceIdentifier" : "0189108e-69d3-1127-0b00-3548319ea022",
          "maxBackoffPeriod" : "10 mins",
          "name" : "FinishSecurityPricesDateLookup",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -136.0,
            "y" : 792.0
          },
          "properties" : {
            "dbf-default-precision" : "10",
            "Join Strategy" : "Insert Enrichment Fields",
            "Insertion Record Path" : "/",
            "Timeout" : "10 min",
            "Original Record Reader" : "52ff3cae-332d-3ab5-aa5f-fcaff28758b5",
            "Record Writer" : "64d9736e-9d74-3080-9ed6-f4c1acf45b2c",
            "Enrichment Record Reader" : "a0045fa9-9b36-311a-8504-528ac41be403",
            "dbf-default-scale" : "0",
            "Maximum number of Bins" : "10000",
            "SQL" : "SELECT original.*, enrichment.* \nFROM original \nLEFT OUTER JOIN enrichment \nON original.id = enrichment.id"
          },
          "propertyDescriptors" : {
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Join Strategy" : {
              "displayName" : "Join Strategy",
              "identifiesControllerService" : false,
              "name" : "Join Strategy",
              "sensitive" : false
            },
            "Insertion Record Path" : {
              "displayName" : "Insertion Record Path",
              "identifiesControllerService" : false,
              "name" : "Insertion Record Path",
              "sensitive" : false
            },
            "Timeout" : {
              "displayName" : "Timeout",
              "identifiesControllerService" : false,
              "name" : "Timeout",
              "sensitive" : false
            },
            "Original Record Reader" : {
              "displayName" : "Original Record Reader",
              "identifiesControllerService" : true,
              "name" : "Original Record Reader",
              "sensitive" : false
            },
            "Record Writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "Record Writer",
              "sensitive" : false
            },
            "Enrichment Record Reader" : {
              "displayName" : "Enrichment Record Reader",
              "identifiesControllerService" : true,
              "name" : "Enrichment Record Reader",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "Maximum number of Bins" : {
              "displayName" : "Maximum number of Bins",
              "identifiesControllerService" : false,
              "name" : "Maximum number of Bins",
              "sensitive" : false
            },
            "SQL" : {
              "displayName" : "SQL",
              "identifiesControllerService" : false,
              "name" : "SQL",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoinEnrichment",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "0bb31159-7f52-31bc-b5b4-ac622863ac24",
          "instanceIdentifier" : "b8b52ad6-018c-1000-66ac-8607beaba880",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ExecuteSQLRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 656.0,
            "y" : 544.0
          },
          "properties" : {
            "esql-max-rows" : "5",
            "esqlrecord-record-writer" : "c4842d42-1bd4-3764-ad3a-9d17a69efdf5",
            "dbf-default-precision" : "32",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "7292e460-f819-37c1-bfa9-01d7764758f2",
            "esql-auto-commit" : "false",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "SQL select query" : "${securityPricesLookupQuery}",
            "esqlrecord-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "esqlrecord-record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "esqlrecord-record-writer",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "displayName" : "Set Auto Commit",
              "identifiesControllerService" : false,
              "name" : "esql-auto-commit",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "esqlrecord-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "esqlrecord-normalize",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jslt-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "b05ef79b-4bed-3de7-98b5-4ebb2d547651",
          "instanceIdentifier" : "01891081-69d3-1127-4b0d-1e2aebcae35c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "VerifyPrices",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -128.0,
            "y" : 992.0
          },
          "properties" : {
            "jslt-transform-pretty_print" : "false",
            "jslt-transform-transformation" : "if(.\"date\" == .\"dateToPrices\".\"date\" and .\"error\" == null)\n  {\n  *:.\n  }\nelse\n  {\n  \"error\": if(.\"error\") .\"error\" else \"Some prices missing\",\n  *:.\n  }",
            "jslt-transform-cache-size" : "1"
          },
          "propertyDescriptors" : {
            "jslt-transform-pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-pretty_print",
              "sensitive" : false
            },
            "jslt-transform-transformation" : {
              "displayName" : "JSLT Transformation",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE", "TEXT" ]
              },
              "sensitive" : false
            },
            "jslt-transform-cache-size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-cache-size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jslt.JSLTTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jslt-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "9a4407c0-1706-3150-b200-2e52e34ca304",
          "instanceIdentifier" : "b8b55c04-018c-1000-ffc5-596b5bab22a9",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SecurityPricesDateLookupQuery",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 640.0,
            "y" : 40.0
          },
          "properties" : {
            "jslt-transform-pretty_print" : "false",
            "jslt-transform-transformation" : "let securityPricesLookupQuery = \n\n\" (SELECT id, security_id , to_char(date, 'YYYY-MM-dd') date, open, high, low, close, volume FROM spp.security_prices sp \n WHERE security_id = \" + .\"security_id\" + \"\n AND date = '\" + .\"dateToPrices\" +\"'\n ORDER BY last_updated_timestamp DESC \n LIMIT 1)\n\n UNION ALL\n\n (SELECT id, security_id, to_char(date, 'YYYY-MM-dd') date, open, high, low, close, volume FROM spp.security_prices sp \n  WHERE security_id = \" + .\"security_id\" + \"\n  AND date <= '\" + .\"dateFromPrices\" + \"'\n  ORDER BY date DESC, last_updated_timestamp DESC \n  LIMIT 1)\"\n\n{\"securityPricesLookupQuery\":string($securityPricesLookupQuery)}",
            "jslt-transform-cache-size" : "1"
          },
          "propertyDescriptors" : {
            "jslt-transform-pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-pretty_print",
              "sensitive" : false
            },
            "jslt-transform-transformation" : {
              "displayName" : "JSLT Transformation",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE", "TEXT" ]
              },
              "sensitive" : false
            },
            "jslt-transform-cache-size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-cache-size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jslt.JSLTTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jslt-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "2d16b2b1-9bd6-342e-97a0-38529cdb93d0",
          "instanceIdentifier" : "01891082-69d3-1127-6d22-d32b78443425",
          "maxBackoffPeriod" : "10 mins",
          "name" : "StartSecurityReturnsCalculationForDate",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -133.50526054124327,
            "y" : -196.0168539038027
          },
          "properties" : {
            "jslt-transform-pretty_print" : "false",
            "jslt-transform-transformation" : "let return_period_seconds = 86400 * ${return_period_days}\n\n{\n  \"security_id\": .\"security_id\",\n  \"date\": .\"date\",\n  \"return_period\": \"${return_period_days}d\",\n  \"dateFromPrices\": format-time(parse-time(.\"date\", \"yyyy-MM-dd\") - $return_period_seconds, \"yyyy-MM-dd\"),\n  \"dateToPrices\":.\"date\",\n  \"error\":null\n}",
            "jslt-transform-cache-size" : "1"
          },
          "propertyDescriptors" : {
            "jslt-transform-pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-pretty_print",
              "sensitive" : false
            },
            "jslt-transform-transformation" : {
              "displayName" : "JSLT Transformation",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE", "TEXT" ]
              },
              "sensitive" : false
            },
            "jslt-transform-cache-size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-cache-size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jslt.JSLTTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "80ea2a6e-75a7-3486-98c1-7d4b399563f2",
          "instanceIdentifier" : "b55b5409-018c-1000-9c87-4849f326c39c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LoadLastRecordForSecurityReturns",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -104.0,
            "y" : -928.0
          },
          "properties" : {
            "esql-max-rows" : "1",
            "esqlrecord-record-writer" : "9be2e2af-23af-3fb7-be69-adda157db381",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "7292e460-f819-37c1-bfa9-01d7764758f2",
            "esql-auto-commit" : "true",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "esql-output-batch-size" : "1",
            "esql-fetch-size" : "0",
            "SQL select query" : "SELECT s.id security_id, to_char(max(sr.\"date\"), 'YYYY-MM-DD') \"date\"\nFROM spp.securities s \nLEFT OUTER JOIN spp.security_returns sr \nON s.id = sr.security_id \nAND sr.return_period = '${return_period_days}d'\nWHERE \ns.status = 'Active'\nAND s.exchange = '#{exchangeBse}'\nAND s.exchange_code IN ('500086', '500188', '509488')\nGROUP BY s.id",
            "esqlrecord-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "esqlrecord-record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "esqlrecord-record-writer",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "esql-auto-commit" : {
              "displayName" : "Set Auto Commit",
              "identifiesControllerService" : false,
              "name" : "esql-auto-commit",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "esqlrecord-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "esqlrecord-normalize",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jslt-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "afe97b88-6d6d-32b2-8cb4-d511befabac2",
          "instanceIdentifier" : "0189108c-69d3-1127-d04f-226f0dee2f48",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SecurityPricesDateLookupRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 648.0,
            "y" : 800.0
          },
          "properties" : {
            "jslt-transform-pretty_print" : "false",
            "jslt-transform-transformation" : "let prices=.\n\nif(is-array($prices) and size($prices)==2)\n  let dateToPrices={\n\t  \"id\":.[0].\"id\",\n      \"date\":.[0].\"date\",\n      \"open\":.[0].\"open\",\n      \"high\":.[0].\"high\",\n      \"low\":.[0].\"low\",\n      \"close\":.[0].\"close\"\n  }\n\n  let dateFromPrices={\n\t  \"id\":.[1].\"id\",\n      \"date\":.[1].\"date\",\n      \"open\":.[1].\"open\",\n      \"high\":.[1].\"high\",\n      \"low\":.[1].\"low\",\n      \"close\":.[1].\"close\"\n  }\n\n  {\n    \"dateFromPrices\":$dateFromPrices,\n    \"dateToPrices\":$dateToPrices\n  }\nelse\n  {\n    \"error\":\"Some prices missing\",\n\t*:.\n  }",
            "jslt-transform-cache-size" : "1"
          },
          "propertyDescriptors" : {
            "jslt-transform-pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-pretty_print",
              "sensitive" : false
            },
            "jslt-transform-transformation" : {
              "displayName" : "JSLT Transformation",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE", "TEXT" ]
              },
              "sensitive" : false
            },
            "jslt-transform-cache-size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-cache-size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jslt.JSLTTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jslt-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "c711c04f-2d88-3a22-b299-9ff57a6f62f6",
          "instanceIdentifier" : "01891086-69d3-1127-07e0-10da246a9a38",
          "maxBackoffPeriod" : "10 mins",
          "name" : "NextDate",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -125.50526054124327,
            "y" : -644.0168539038027
          },
          "properties" : {
            "jslt-transform-pretty_print" : "false",
            "jslt-transform-transformation" : "let nextDate = if(.\"date\") round(parse-time(.\"date\", \"yyyy-MM-dd\") + 86400.00) else round(parse-time(\"#{returnsStartDate}\", \"yyyy-MM-dd\"))\nlet currentDate = if(size(\"#{endDate}\")>0) round(parse-time(\"#{endDate}\", \"yyyy-MM-dd\")) else round(now())\n\nif($nextDate > $currentDate)\n  {\n    \"condition\":\"End loop\"\n  }\nelse\n  {\n    \"security_id\": .\"security_id\",\n    \"date\" : format-time($nextDate, \"yyyy-MM-dd\")\n  }\n",
            "jslt-transform-cache-size" : "1"
          },
          "propertyDescriptors" : {
            "jslt-transform-pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-pretty_print",
              "sensitive" : false
            },
            "jslt-transform-transformation" : {
              "displayName" : "JSLT Transformation",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE", "TEXT" ]
              },
              "sensitive" : false
            },
            "jslt-transform-cache-size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-cache-size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jslt.JSLTTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "loopEnd" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "8e7cc335-be84-30b0-94bb-260f2f2e546d",
          "instanceIdentifier" : "01891088-69d3-1127-c014-98c379136080",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EndLoopCondition",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -141.50526054124327,
            "y" : -436.0168539038027
          },
          "properties" : {
            "Content Buffer Size" : "1 MB",
            "Match Requirement" : "content must contain match",
            "loopEnd" : "\"End loop\"",
            "Character Set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "Content Buffer Size" : {
              "displayName" : "Content Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Content Buffer Size",
              "sensitive" : false
            },
            "Match Requirement" : {
              "displayName" : "Match Requirement",
              "identifiesControllerService" : false,
              "name" : "Match Requirement",
              "sensitive" : false
            },
            "loopEnd" : {
              "displayName" : "loopEnd",
              "identifiesControllerService" : false,
              "name" : "loopEnd",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnContent",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "48c63f4f-3bbc-3ce4-9a5b-20d4c98793bc",
          "instanceIdentifier" : "018d1000-07ba-1b5b-b849-019792c3f871",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 520.0,
            "y" : -944.0
          },
          "properties" : {
            "return_period_days" : "$",
            "Destination" : "flowfile-attribute",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "return_period_days" : {
              "displayName" : "return_period_days",
              "identifiesControllerService" : false,
              "name" : "return_period_days",
              "sensitive" : false
            },
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "4aee468b-fdb0-3b4f-a23b-a7ccc3a17d86",
          "instanceIdentifier" : "018d1000-4818-1b5a-32cd-09710a77b92a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 528.0,
            "y" : -1280.0
          },
          "properties" : {
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$"
          },
          "propertyDescriptors" : {
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jslt-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 10,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "c3a32e35-e32e-3c28-90bb-fe31e50d3ee6",
          "instanceIdentifier" : "0189108a-69d3-1127-5f5a-cdff7f88160a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "CalculateReturns",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 664.0,
            "y" : 1184.0
          },
          "properties" : {
            "jslt-transform-pretty_print" : "false",
            "jslt-transform-transformation" : "  {\n    \"security_id\" : .\"security_id\",\n    \"date\" : .\"date\",\n    \"last_updated_timestamp\":format-time(now(), \"yyyy-MM-dd HH:mm:ss\", \"IST\"),\n\t\"return_period\": .\"return_period\",\n    \"from_security_prices_id\": .\"dateFromPrices\".\"id\",\n\t\"to_security_prices_id\": .\"dateToPrices\".\"id\",\n\t\"return\": (.\"dateToPrices\".\"close\" / .\"dateFromPrices\".\"close\") - 1\n  }",
            "jslt-transform-cache-size" : "1"
          },
          "propertyDescriptors" : {
            "jslt-transform-pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-pretty_print",
              "sensitive" : false
            },
            "jslt-transform-transformation" : {
              "displayName" : "JSLT Transformation",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-transformation",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE", "TEXT" ]
              },
              "sensitive" : false
            },
            "jslt-transform-cache-size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "jslt-transform-cache-size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.jslt.JSLTTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "b412ae29-daa1-32ac-b7cc-f885974bad8e",
          "instanceIdentifier" : "018a1000-6ab4-1fc6-a03d-19a419ff978b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -120.0,
            "y" : -1288.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "[#{forecastDays}]",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "86400 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "276529e9-6db1-373d-8c86-51687d20d058",
          "instanceIdentifier" : "b9053bd2-018c-1000-b804-2733f487f266",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SaveReturnsToDb",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 672.0,
            "y" : 1400.0
          },
          "properties" : {
            "put-db-record-allow-multiple-statements" : "false",
            "table-schema-cache-size" : "100",
            "put-db-record-schema-name" : "spp",
            "put-db-record-quoted-table-identifiers" : "true",
            "put-db-record-unmatched-column-behavior" : "Fail on Unmatched Columns",
            "put-db-record-translate-field-names" : "false",
            "put-db-record-dcbp-service" : "7292e460-f819-37c1-bfa9-01d7764758f2",
            "put-db-record-query-timeout" : "0 seconds",
            "rollback-on-failure" : "true",
            "put-db-record-statement-type" : "UPSERT",
            "db-type" : "PostgreSQL",
            "put-db-record-update-keys" : "security_id,date,return_period",
            "put-db-record-quoted-identifiers" : "true",
            "put-db-record-table-name" : "security_returns",
            "put-db-record-unmatched-field-behavior" : "Ignore Unmatched Fields",
            "put-db-record-max-batch-size" : "1000",
            "put-db-record-record-reader" : "e4efdf3d-3ce9-3711-9d37-7e546e7c9484"
          },
          "propertyDescriptors" : {
            "put-db-record-allow-multiple-statements" : {
              "displayName" : "Allow Multiple SQL Statements",
              "identifiesControllerService" : false,
              "name" : "put-db-record-allow-multiple-statements",
              "sensitive" : false
            },
            "table-schema-cache-size" : {
              "displayName" : "Table Schema Cache Size",
              "identifiesControllerService" : false,
              "name" : "table-schema-cache-size",
              "sensitive" : false
            },
            "put-db-record-schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-schema-name",
              "sensitive" : false
            },
            "put-db-record-field-containing-sql" : {
              "displayName" : "Field Containing SQL",
              "identifiesControllerService" : false,
              "name" : "put-db-record-field-containing-sql",
              "sensitive" : false
            },
            "put-db-record-quoted-table-identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "identifiesControllerService" : false,
              "name" : "put-db-record-quoted-table-identifiers",
              "sensitive" : false
            },
            "Statement Type Record Path" : {
              "displayName" : "Statement Type Record Path",
              "identifiesControllerService" : false,
              "name" : "Statement Type Record Path",
              "sensitive" : false
            },
            "put-db-record-unmatched-column-behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "identifiesControllerService" : false,
              "name" : "put-db-record-unmatched-column-behavior",
              "sensitive" : false
            },
            "put-db-record-catalog-name" : {
              "displayName" : "Catalog Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-catalog-name",
              "sensitive" : false
            },
            "put-db-record-translate-field-names" : {
              "displayName" : "Translate Field Names",
              "identifiesControllerService" : false,
              "name" : "put-db-record-translate-field-names",
              "sensitive" : false
            },
            "put-db-record-dcbp-service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "put-db-record-dcbp-service",
              "sensitive" : false
            },
            "put-db-record-query-timeout" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "put-db-record-query-timeout",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            },
            "put-db-record-statement-type" : {
              "displayName" : "Statement Type",
              "identifiesControllerService" : false,
              "name" : "put-db-record-statement-type",
              "sensitive" : false
            },
            "db-type" : {
              "displayName" : "Database Type",
              "identifiesControllerService" : false,
              "name" : "db-type",
              "sensitive" : false
            },
            "put-db-record-update-keys" : {
              "displayName" : "Update Keys",
              "identifiesControllerService" : false,
              "name" : "put-db-record-update-keys",
              "sensitive" : false
            },
            "put-db-record-quoted-identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "identifiesControllerService" : false,
              "name" : "put-db-record-quoted-identifiers",
              "sensitive" : false
            },
            "put-db-record-table-name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-table-name",
              "sensitive" : false
            },
            "put-db-record-unmatched-field-behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "identifiesControllerService" : false,
              "name" : "put-db-record-unmatched-field-behavior",
              "sensitive" : false
            },
            "put-db-record-max-batch-size" : {
              "displayName" : "Maximum Batch Size",
              "identifiesControllerService" : false,
              "name" : "put-db-record-max-batch-size",
              "sensitive" : false
            },
            "put-db-record-record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "put-db-record-record-reader",
              "sensitive" : false
            },
            "Data Record Path" : {
              "displayName" : "Data Record Path",
              "identifiesControllerService" : false,
              "name" : "Data Record Path",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.22.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "cd87fd1c-66eb-3c47-958d-0bbcf62e6378",
          "identifier" : "4e05e8c6-8387-304b-8292-1eb032f0d17f",
          "instanceIdentifier" : "01891083-69d3-1127-cbbe-3024050aa544",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RouteOnContent",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -136.0,
            "y" : 1192.0
          },
          "properties" : {
            "Content Buffer Size" : "1 MB",
            "Match Requirement" : "content must contain match",
            "error" : "\"Some prices missing\"",
            "Character Set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "Content Buffer Size" : {
              "displayName" : "Content Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Content Buffer Size",
              "sensitive" : false
            },
            "Match Requirement" : {
              "displayName" : "Match Requirement",
              "identifiesControllerService" : false,
              "name" : "Match Requirement",
              "sensitive" : false
            },
            "error" : {
              "displayName" : "error",
              "identifiesControllerService" : false,
              "name" : "error",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnContent",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "SPP" : {
          "componentType" : "PARAMETER_CONTEXT",
          "inheritedParameterContexts" : [ ],
          "name" : "SPP",
          "parameters" : [ {
            "description" : "",
            "name" : "startDate",
            "provided" : false,
            "sensitive" : false,
            "value" : "2000-01-01"
          }, {
            "description" : "",
            "name" : "exchangeBse",
            "provided" : false,
            "sensitive" : false,
            "value" : "BSE"
          }, {
            "description" : "",
            "name" : "endDate",
            "provided" : false,
            "sensitive" : false,
            "value" : "2023-12-31"
          }, {
            "description" : "",
            "name" : "returnsEndDate",
            "provided" : false,
            "sensitive" : false,
            "value" : "2023-09-30"
          }, {
            "description" : "",
            "name" : "alphavantageBaseUri",
            "provided" : false,
            "sensitive" : false,
            "value" : "https://www.alphavantage.co/query"
          }, {
            "description" : "Free Key for now",
            "name" : "alphavantageApiKey",
            "provided" : false,
            "sensitive" : false,
            "value" : "JVUV262LUEINMW0U"
          }, {
            "description" : "",
            "name" : "forecastDays",
            "provided" : false,
            "sensitive" : false,
            "value" : "10,30,60,90"
          }, {
            "description" : "",
            "name" : "returnsStartDate",
            "provided" : false,
            "sensitive" : false,
            "value" : "2018-01-01"
          }, {
            "description" : "",
            "name" : "exchangeBseSensex",
            "provided" : false,
            "sensitive" : false,
            "value" : "SENSEX"
          }, {
            "description" : "",
            "name" : "mongoUri",
            "provided" : false,
            "sensitive" : false,
            "value" : "mongodb://localhost:27017/"
          } ]
        }
      },
      "parameterProviders" : { }
    }
  }
}